body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.headtitle {
  background-color: #007acc;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.headtitle h1 {
  margin: 0;
  font-size: 3rem;
  text-shadow: 1px 1px #000;
  letter-spacing: 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 400px;
  margin: 20px;
}

.form input[type="text"] {
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 1.2rem;
  padding: 10px;
  margin-bottom: 20px;
  color: #666;
  font-family: Arial, sans-serif;
}

.form button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  margin-top: 10px;
}

.form button:hover {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
}

.container-list {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 400px;
  margin: 20px;
}

.container-list button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  margin-top: 10px;
}

.container-list button:hover {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
}

.output {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 400px;
  margin: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  color: #666;
}
